.reader{

  width: 100%;
  height: 100%;

}

.reader img {
  image-rendering: optimizeQuality;
}

.reader-header{

	position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;

	  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: grey;
    height: 50px;

    z-index: 50;
}

.reader-header .bread-crumb{
	flex: 1 1 auto;
    align-self: auto;
    margin-right: 15px;
    margin-left:15px;
}

.reader-header .home-action {
	flex: 0 1 auto;
  align-self: auto;
}

.reader-header img{
  margin-left: 15px;
}

.page{
    max-width: 100%;
}

.page.fit{
  max-height:100%;
  display: block;
  margin:auto;
}

.page.cache{
    display: none;
}

.rightTargetArea{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 25;
  width: 150px;
  bottom: 0px;
}

.centerTargetArea{
  position: fixed;
  left: 150px;
  right: 150px;
  z-index: 25;
  bottom: 0px;
  top: 0px;
}

.leftTargetArea{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 25;
  width: 150px;
  bottom: 0px;
}

.reader-footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;

	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: grey;
    height: 50px;

    z-index: 50;
}

.reader-footer .slider{
	flex: 1 1 auto;
    align-self: auto;
    margin: 0 25px;
}

.hide-controls {
    display: none;
}





