.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: grey;
  height: 50px;
  padding: 5px;
  color: white;

  position: fixed;
  top: 0;
  width: 100%;
 
}


.top-search{
  max-width: 250px;
  float: right;
}

.top-action{
  float: left;
  margin-left:10px;
  cursor: pointer;
}

.catalog-area{
  min-height: 100%;
  padding-top: 55px;
  background-color: lightgrey;
}



